.list-group-item, .form-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.list-items-names{
    font-weight: 500;
    font-size: 17px;
}